<%= @loc %>
<h1> Scientist Info </h1>
<%= @scientist.name %>
<%= @scientist.city %>

<h2>Scientist Coordinates </h2>
<%= @scientist.lat %>
<%= @scientist.lng %>
<%= @scientist_success %>

<h2> Location of scientist: </h2>
<%= @scientist_loc %>

<h1> teacher Info </h1>
<%= @teacher.name %>
<%= @teacher.city %>

<h2>teacher Coordinates </h2>
<%= @teacher.lat %>
<%= @teacher.lng %>
<%= @teacher_success %>

<h2> Location of teacher: </h2>
<%= @teacher_loc %>