<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <button type="button" id="show-filters" class="btn btn-default" onclick="showFiltering()">Show filtering options</button>
      <form id="filter-options" class="form-inline">
        <button type="button" class="btn btn-default" onclick="hideFiltering()">Hide filtering options</button>
        <div class="form-group">
          <label class="sr-only" for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Name" value=<%= @params[:name] %> >
        </div>
        <div class="form-group">
          <label class="sr-only" for="institution">Institution</label>
          <input type="text" class="form-control" id="institution" name="institution" placeholder="Institution/school"  value=<%= @params[:institution] %> >
        </div>
        <div class="form-group">
          <label class="sr-only" for="city">City</label>
          <input type="text" class="form-control" id="city" name="city" placeholder="City" value=<%= @params[:city] %> >
        </div>
        <div class="form-group">
          <select name="state" class="form-control">
            <option value="">Select state</option>
            <% @states.each do |state| %>
              <% if state ==  @params[:state] %> 
              <option value="<%= state %>" selected=selected><%= state %></option>
              <% else %>
              <option value="<%= state %>"><%= state %></option>
              <% end %>
            <% end %>
          </select>
        </div>
        <button type="submit" class="btn btn-default">Filter</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-5 text-center"><h3>Teachers</h3></div>
    <div class="col-xs-5 text-center"><h3>Scientists</h3></div>
    <div class="col-xs-1"></div>
  </div>
  <div class="row"><hr class="col-md-10 col-md-offset-1"/></div>
  <% @matches.each do |match| %>
  <% teacher = match.teacher %>
  <% scientist = match.scientist %>
  <div class="row" id="match_<%= match.id %>" onclick="expandMatch(<%= match.id %>)" style="cursor:pointer">
    <div class="col-xs-6" >   
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <div class="panel panel-info teacher" id="teacher_<%= teacher.id %>" >
            <div class="panel-heading">
              <h3 class="panel-title"><%= teacher.name %> - <%= teacher.school %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12"><strong>Location</strong>: <%= teacher.city %>, <%= teacher.state %> <%= teacher.zip_code %></div>
              </div>
              <div class="row">
                <% if teacher.evolution and teacher.climate_change %>
                  <div class="col-sm-12"><strong>Topics wanted</strong>: Evolution and Climate Change</div>
                <% elsif teacher.evolution %>
                  <div class="col-sm-12"><strong>Topics wanted</strong>: Evolution</div>
                <% elsif teacher.climate_change %>
                  <div class="col-sm-12"><strong>Topics wanted</strong>: Climate Change</div>
                <% end %>
              </div>
              <div class="row">
                <div class="col-sm-12"><strong>Grade levels</strong>: <%= teacher.grade %></div>
              </div>
              <div class="expanded-info" style="display:none">
                <div class="row">
                  <div class="col-sm-12"><strong>Email</strong>: <%= teacher.email %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Phone</strong>: <%= teacher.phone %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Preffered Communication</strong>: <%= teacher.communication_method %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Topics taught</strong>: <%= teacher.topics %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Details on what to cover</strong>: <%= teacher.topics_to_cover %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>How students will benefit</strong>: <%= teacher.benefits %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>School Requirements</strong>: <%= teacher.requirements %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-md-10">
          <div class="panel panel-info scientist" id="scientist_<%= scientist.id %>">
            <div class="panel-heading">
              <h3 class="panel-title"><%= scientist.name %> - <%= scientist.affiliation %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12"><strong>Location</strong>: <%= scientist.city %>, <%= scientist.state %> <%= scientist.zip_code %></div>
              </div>
              <div class="row">
                <% if scientist.evolution and scientist.climate_change %>
                  <div class="col-sm-12"><strong>Can talk about</strong>: Evolution and Climate Change</div>
                <% elsif scientist.evolution %>
                  <div class="col-sm-12"><strong>Can talk about</strong>: Evolution</div>
                <% elsif scientist.climate_change %>
                  <div class="col-sm-12"><strong>Can talk about</strong>: Climate Change</div>
                <% end %>
              </div>
              <div class="row">
                <div class="col-sm-12"><strong>Occupation</strong>: <%= scientist.occupation %></div>
              </div>
              <div class="expanded-info" style="display:none">
                <div class="row">
                  <div class="col-sm-12"><strong>Email</strong>: <%= scientist.email %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Phone</strong>: <%= scientist.phone %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Preffered Communication</strong>: <%= scientist.communication_method %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Education</strong>: <%= scientist.education %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Specialization</strong>: <%= scientist.specialization %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Classroom experience</strong>: <%= scientist.experience %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Hopes to gain</strong>: <%= scientist.goals %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Overall availability</strong>: <%= scientist.availability %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Link to talk</strong>: <a><%= scientist.link %></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>  
    </div>
  </div>
  <div class="row"><hr class="col-md-10 col-md-offset-1"/></div>
  <% end %>
</div>
<style>
hr {
  margin-top: 0px;
  margin-bottom: 20px;
  border-top: 1px solid #ddd;
}
<% if @filtered %>
#show-filters {
  display:none;
}
<% else %>
#filter-options {
  display:none;
}
<% end %>
</style>
<script>
function expandMatch(id){
  if ($('#match_' + id + ' .expanded-info').css('display') == 'none'){
    $('#match_' + id + ' .expanded-info').css('display', 'inline-block')
  }
  else{
    $('#match_' + id + ' .expanded-info').css('display', 'none')
  }
}
function showFiltering(){
  $('#filter-options').css('display', 'inline-block')
  $('#show-filters').css('display', 'none')
}
function hideFiltering(){
  $('#filter-options').css('display', 'none')
  $('#show-filters').css('display', 'inline-block')
}
</script>