<center><h2 id="sorting_by">click a teacher or scientist to start sorting by that type</h2></center>
<center><h2>You just matched some people!</h2></center>
<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-5 text-center"><h3>Teachers</h3></div>
    <div class="col-xs-5 text-center"><h3>Scientists</h3></div>
    <div class="col-xs-1"></div>
  </div>
  <div class="row">

    <!-- teachers -->
    <div class="col-xs-6" style="overflow-y: scroll; height:600px">
      <% @teachers.each do |teacher| %>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <div class="panel panel-info teacher" id="teacher_<%= teacher.id %>" onclick="expandTeacher(<%= teacher.id %>)" style="cursor:pointer">
            <div class="panel-heading">
              <h3 class="panel-title"><%= teacher.name %> - <%= teacher.school %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12"><strong>Location</strong>: <%= teacher.city %>, <%= teacher.state %> <%= teacher.zip_code %></div>
              </div>
              <div class="row">
                <% if teacher.evolution and teacher.climate_change %>
                  <div class="col-sm-12"><strong>Topics wanted</strong>: Evolution and Climate Change</div>
                <% elsif teacher.evolution %>
                  <div class="col-sm-12"><strong>Topics wanted</strong>: Evolution</div>
                <% elsif teacher.climate_change %>
                  <div class="col-sm-12"><strong>Topics wanted</strong>: Climate Change</div>
                <% end %>
              </div>
              <div class="row">
                <div class="col-sm-12"><strong>Grade levels</strong>: <%= teacher.grade %></div>
              </div>
              <div class="expanded-info" style="display:none">
                <div class="row">
                  <div class="col-sm-12"><strong>Email</strong>: <%= teacher.email %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Phone</strong>: <%= teacher.phone %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Preferred Communication</strong>: <%= teacher.communication_method %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Topics taught</strong>: <%= teacher.topics %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Details on what to cover</strong>: <%= teacher.topics_to_cover %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>How students will benefit</strong>: <%= teacher.benefits %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>School Requirements</strong>: <%= teacher.requirements %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <!-- scientists -->
    <div class="col-xs-6" style="overflow-y: scroll; height:600px">
      <% @scientists.each do |scientist| %>
      <div class="row">
        <div class="col-md-10">
          <div class="panel panel-info scientist" id="scientist_<%= scientist.id %>" onclick="expandScientist(<%= scientist.id %>)" style="cursor:pointer">
            <div class="panel-heading">
              <h3 class="panel-title"><%= scientist.name %> - <%= scientist.affiliation %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12"><strong>Location</strong>: <%= scientist.city %>, <%= scientist.state %> <%= scientist.zip_code %></div>
              </div>
              <div class="row">
                <% if scientist.evolution and scientist.climate_change %>
                  <div class="col-sm-12"><strong>Can talk about</strong>: Evolution and Climate Change</div>
                <% elsif scientist.evolution %>
                  <div class="col-sm-12"><strong>Can talk about</strong>: Evolution</div>
                <% elsif scientist.climate_change %>
                  <div class="col-sm-12"><strong>Can talk about</strong>: Climate Change</div>
                <% end %>
              </div>
              <div class="row">
                <div class="col-sm-12"><strong>Occupation</strong>: <%= scientist.occupation %></div>
              </div>
              <div class="expanded-info" style="display:none">
                <div class="row">
                  <div class="col-sm-12"><strong>Email</strong>: <%= scientist.email %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Phone</strong>: <%= scientist.phone %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Preferred Communication</strong>: <%= scientist.communication_method %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Education</strong>: <%= scientist.education %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Specialization</strong>: <%= scientist.specialization %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Classroom experience</strong>: <%= scientist.experience %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Hopes to gain</strong>: <%= scientist.goals %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Overall availability</strong>: <%= scientist.availability %></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><strong>Link to talk</strong>: <a><%= scientist.link %></a></div>
                </div>
                <div class="row match_button_location" id="match_scientist_<%=scientist.id %>">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<script>

var sort_by = "none";
var id_sorting_by = -1;
function expandTeacher(id){
  //if info isn't expanded, expand it, filter scientist list, and prevent user from being able to filter by scientist
  if ($('#teacher_' + id + ' .expanded-info').css('display') == 'none'){
    if (sort_by != "scientist") { //only do this stuff if going to sort by teacher
      //make sure no other teachers have their info expanded
      $('.teacher .expanded-info').css('display', 'none')
      sort_by = "teacher";
      id_sorting_by = id;
      document.getElementById("sorting_by").innerHTML = "Sorting by Teacher";
      //make sure no scientists have their info expanded
      $('.scientist .expanded-info').css('display', 'none')   
      //get list of ids of scientists within range
      $.ajax({ 
        type: 'GET',
        url: '/matches/get_matched_scientists/' + id,
        success: function(data,status,xhr){
          console.log(data);
          //set scientist to invisible if it's on the list of far away scientists
          $.each(data.incompatible_scientists, function(index, value) {
              $('#scientist_' + value).css('display', 'none');
          });
          //set scientist to visible if on list of compatible scientists
          $.each(data.compatible_scientists, function(index, value) {
              $('#scientist_' + value).css('display', 'block');
          });
        },
        error: function(xhr,status,error){
          console.log(xhr);
          alert(error);
        }
      });
    }
    //expand the user that was clicked   
    $('#teacher_' + id + ' .expanded-info').css('display', 'inline-block')   
  } else {
    // if it's already expanded, close it
    $('#teacher_' + id + ' .expanded-info').css('display', 'none')
    if (sort_by != "scientist") {
      sort_by = "none";
      document.getElementById("sorting_by").innerHTML = "click a teacher or scientist to start sorting by that type";
      //make all the scientists who have been hidden reappear
      $('.panel.panel-info.scientist').css('display', 'block')
      //make all the teachers who have been hidden reappear
      $('.panel.panel-info.teacher').css('display', 'block')
      //make sure no scientists have their info expanded
      $('.scientist .expanded-info').css('display', 'none')      
    }
  }
}


function expandScientist(id){
  if ($('#scientist_' + id + ' .expanded-info').css('display') == 'none'){ 
    if (sort_by != "teacher") { //only do this stuff if wanna filter by scientist
      sort_by = "scientist";
      id_sorting_by = id;
      //make sure no other scientists have their info expanded
      $('.scientist .expanded-info').css('display', 'none')
      document.getElementById("sorting_by").innerHTML = "Sorting by Scientist";
      //make sure no teachers have their info expanded
      $('.teacher .expanded-info').css('display', 'none')
      //get list of ids of compatible teachers
      $.ajax({ 
        type: 'GET',
        url: '/matches/get_matched_teachers/' + id,
        success: function(data,status,xhr){
          console.log(data);
          //set teacher to invisible if it's on the list of far away teachers
          $.each(data.incompatible_teachers, function(index, value) {
              $('#teacher_' + value).css('display', 'none');
          });
          //set teacher to visible if it's on the list of compatible teachers
          $.each(data.compatible_teachers, function(index, value) {
              $('#teacher_' + value).css('display', 'block');
          });
        },
        error: function(xhr,status,error){
          console.log(xhr);
          alert(error);
        }
      });
    } else {
      // document.getElementById("match_scientist_" + id).innerHTML = '<button onclick="createMatch(' + id + ')"">Match</button>';


      console.log("id: " + id, "teacher_id: " + id_sorting_by);
      var list = document.getElementsByClassName("match_button_location");
      for (i = 0; i < list.length; i++) {
        list[i].innerHTML = '<%= button_to("Match", action: "create_match", params: { scientist_id: ' + id + ', teacher_id:' + id_sorting_by +'}) %>';
      }
    }
    //expand the scientist that was clicked
    $('#scientist_' + id + ' .expanded-info').css('display', 'inline-block')    
  } else {
    $('#scientist_' + id + ' .expanded-info').css('display', 'none')
    if (sort_by != "teacher") {
      sort_by = "none";
      document.getElementById("sorting_by").innerHTML = "click a teacher or scientist to start sorting by that type";
      //make all the teachers who have been hidden reappear
      $('.panel.panel-info.teacher').css('display', 'block')
      //make all the scientists who have been hidden reappear
      $('.panel.panel-info.scientist').css('display', 'block')
      //make sure no teachers have their info expanded
      $('.teacher .expanded-info').css('display', 'none')
    }
  }
}

function createMatch(id) {

}


</script>