<!DOCTYPE html>
<html>
<head>
  <title>ScientistsInTheClassroom</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% puts 'sdfsdfsdfsdfsdfsdfsdfasassdafsdfa' %>
<% puts 'alert ', alert %>
<% puts 'notice', notice %>
	<!-- Show flash messages -->
<!-- 	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
<% if not @page and (request.fullpath == '/admins/edit' or request.fullpath == '/admins') then @page='change_password' end %>
<% if defined? @page %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">NCSE: Teachers in the Classroom</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% puts @page %>
        <% if @page == 'match' %>
          <li class="active"><a href="#">Match Teachers with Scientists</a></li>
        <% else %>
          <li><a href="/match">Match Teachers with Scientists </a></li>
        <% end %>
        <% if @page == 'matches' %>
          <li class="active"><a href="#">Current Matches</a></li>
        <% else %>
          <li><a href="/matches">Current Matches</a></li>
        <% end %>
        <% if @page == 'admins' %>
          <li class="active"><a href="#">Manage Admins</a></li>
        <% else %>
          <li><a href="/admins">Manage Admins</a></li>
        <% end %>
      </ul>
      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <% if @page == 'change_password' %>
            <li class="active"><a href="#">Change Password</a></li>
          <% else %>
            <li><a href="/admins/edit">Change Password</a></li>
          <% end %>
          <li><%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<% end %>

<%= yield %>

</body>
</html>
